*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(images/Background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.full-website
{
    
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #cc00ff;
    
}

/* logo and banner */
.first-room
{
    
    height: 50px;
    width: 100%;
    padding: 10px 0px;
}
.logo
{
    width: 20%;
    float: left;
    padding: 8px 15px;
}
.banner
{
    width: 50%;
    float: right;    
}
/* menu starts  */
.menu
{
    width: 100%;
    height: 38px;
    background-color: #b41fa8;
}
.menu ul li
{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid black;
    margin-left: -4px;
}
.menu ul li:first-child
{
    margin-left: 0px;
}
.menu ul li a
{
    text-decoration: none;
    color: white;
}
.menu ul li:hover
{
    background-color: #7c0a76;
}
/* slider  */
.slider
{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/* 4th room  */

.fourth-room
{
    width: 100%;
    height: 700px;
}

.content
{
    background-color: #cc00ff;
    width: 60%;
    float: left;
    height: 850px;
}
.content-element
{
    
    padding: 20px;
    border-bottom: 2px dotted grey;
}
.content img
{
    width: 30%;
    height: 150px;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #399fce;

}
.content p
{
    
    text-align: justify;
    color: cornsilk;
    margin: 5px;
    font-size: 18px;
    margin-bottom: 10px
}
.content a
{
    text-decoration: none;
    color: cyan;
    background-color: darkblue;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}
.content a:hover
{
    background-color: cyan;
    color: darkblue;
}

.right-sidebar
{
    background-color: #800046;
    width: 35%;
    float: right;
    height: auto;
    padding: 20px;
}
.right-sidebar h2
{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.right-sidebar ul
{
    list-style-type: circle;
}
.right-sidebar ul li
{
    margin: 12px 0px;
    text-align: justify;
}
.right-sidebar ul li a
{
    text-decoration: none;
    color: white;
}
.right-sidebar ul li a:hover
{
    text-decoration: underline;
}
.sidebar-element
{
    border-bottom: 1px dotted black;
    margin-top: 5px;
}
.fifth-room
{
    background-color: #631ca5;
    clear: both;
    display: flex;
    padding: 30px 20px;
}
.box
{
    margin-left: 10px;
}
.box h2
{
    border-bottom: 3px solid white;
    margin-inline: 10px;
    color: greenyellow;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 15px;
}
.box ul
{
    color: white;

}
.box ul li a
{
    text-decoration: none;
    color: thistle;
    text-align: justify;
}
.box ul li
{
    margin-left: 20px;
    padding: 10px;
}
.box ul li:hover
{
    text-decoration: underline;
}
.sixth-room
{
    background-color: #cc00ff;
    text-align: center;
}
.sixth-room h4
{
    color: goldenrod;
}